
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mecical Insurance Chrages Predication</title>
</head>
<body style="background-color: rgb(189, 129, 176);" >
    <h1>Mecical Insurance Charges Predication</h1>
    <form method="POST" action="/predict_charges">

        <lable>Age:</lable>
        <input type="text" name ="age">
        </select>

        <br>
        <br>

        <lable>Sex:</lable>
        <select name="sex">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>

        <br>
        <br>

        <lable>BMI:</lable>
        <input type="text" name ="bmi">
        </select>

        <br>
        <br>

        <lable>Children:</lable>
        <input type="text" name ="children">
        </select>

        <br>
        <br>

        <lable>Smoker:</lable>
        <label>YES:</label><input type="radio" name="smoker" value="yes">
        <label>No:</label><input type="radio" name="smoker" value="no">
        </select>

        <br>
        <br>

        <lable>Region:</lable>
        <select name="region">
            <option value="southeast">Southeast</option>
            <option value="southwest">Southwest</option>
            <option value="northeast">Northeast</option>
            <option value="northwest">Northwest</option>
        </select>

        <br>
        <br>

        <input type="submit" value="SUBMIT">
        <br>
        <p>Your insurance premium charges will be <b> {{ prediction }} /- Rs.</b> Only </p>

        
    
    




    </form>


















    
</body>
</html>